%h1 Search results

%table
  - @results.each do |result|
    %tr.contact
      %td.name= result.name
      %td.contact_methods
        - result.contact_methods.each do |method|
          .type= method.type
          .location= method.location
          .value=method.value
