body {
  background: #264507;
}

#container {
  background: white;
}

#header {
  background: #1D2800;
}

#header img {
  padding-left: 50px;
}

#content {
  padding: 50px;
}

table.contacts {
  font-size: 1.2em;
  width: 100%;
}

